<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='csvjson-img.png') }}" type="image/x-icon">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 1rem;
        }
    </style>
</head>

<body>
    <div class="dashboard_container">
        <div class="header_dashboard">
            <a href="/"><img src="{{ url_for('static', filename='fleche.png') }}" alt=""></a>
            <h1> <i class="fas fa-search"></i> Search</h1>
        </div>


    </div>
</body>

</html>