<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='csvjson-img.png') }}" type="image/x-icon">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 1rem;
        }
    </style>
</head>

<body>
    <div class="dashboard_container">
        <div class="header_dashboard">
            <a href="/"><img src="{{ url_for('static', filename='fleche.png') }}" alt=""></a>
            <h1> <i class="fas fa-search"></i> Search</h1>
        </div>

        <div class="search-box">
            <form method="POST" class="search-input">
                <input type="text" name="queryj" placeholder="Entrez votre recherche..." value="{{ queryj }}">
                <button type="submit">Rechercher</button>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Line Id</th>
                        <th>Timestamp</th>
                        <th>Event Id</th>
                        <th>Event Template</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {% if results %} -->
                        {% for result in results %}
                            <tr>
                                <td>{{ result.lineid }}</td>
                                <td>{{ result.timestamp }}</td>
                                <td>{{ result.EventTemplate }}</td>
                                <td>{{ result.eventid }}</td>
                            </tr>
                        {% endfor %}
                    <!-- {% else %}
                        <tr>
                            <td colspan="4">Aucun résultat trouvé pour "{{ queryj }}".</td>
                        </tr>
                    {% endif %} -->

                </tbody>
            </table>
        </div>
    </div>
</body>

</html>